#div3{
    margin: 20px 15px ;
    background-color: saddlebrown;
    width: 100%;
    height: 200px; 
     padding: 50px; 
     border: 10px solid blue;
     box-sizing: border-box; 
}
#div4{
    margin: 20px 15px ;
    background-color: saddlebrown;
    width: 100%;
    height: 200px;  
    padding: 50px; 
    box-sizing: content-box; 
}